* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    color: var(--color-txt);
    font-family: 'Poppins', sans-serif;
}

html {overflow: hidden;}
h1 {margin: 3rem 0;}
a {text-decoration: none;}



/* HEADER */

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: .3rem 1rem;
    background: var(--color-1);
    border-bottom: 2px solid;
    cursor: default;
}

.header-l span:first-child {
    font-weight: bold;
}

header i, header span:not(:last-child) {margin-right: 1rem;}



/* MAIN */

main {
    background: var(--color-bg);
    width: 100vw; height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    overflow: hidden;
}

.folder {margin: 1rem 2rem; cursor: pointer;}
main > .folder:first-child {margin-top: 5rem;}
.folder .icon {width: 4rem;}
.folder .title {text-align: center;}



/* TABS */

.ui-dialog {
    position: absolute;
    box-sizing: content-box;
    border: 2px solid;
    border-radius: .5rem;
    background: var(--color-2);
    overflow: scroll;
}

.ui-dialog-titlebar {
    position: fixed; 
    width: inherit;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid;
    border-radius: .5rem .5rem 0 0;
    background: var(--color-1);
    cursor: default; 
}

.ui-dialog-title {margin: .3rem 1rem;}

.ui-dialog-titlebar-close {
    width: 1.5rem; margin: .3rem;
    background: var(--color-txt);
    color: var(--color-1);
    border: 2px solid var(--color-txt);
    border-radius: .3rem;
    cursor: pointer;
}

.ui-dialog-titlebar-close::before {font-family: "Font Awesome 5 Free";font-weight: 900; content: "\f00d";}

.ui-dialog-content {margin: 4rem 2rem 0;}


.tag {
    display: inline-block;
    padding: .3rem 1rem;
    border: 2px solid var(--color-txt);
    border-radius: .5rem;
    background: var(--color-3);
    color: var(--color-bg);
}

.tag:not(:first-child) {margin-top: 3rem;}

.tab.design > div, .tab.art {
    display: flex;
    justify-content: space-between;
}

.tab .folder {flex-basis: 0;}

.tab img:not([class="icon"]) {
    display: block;
    width: 90%;
    margin: 1rem auto;
}

.tab h1, .tab h2, .tab h3 {margin: 5rem 3rem 1rem;}

.tab p:not([class="title"]) {margin: 1rem 3rem 3rem;}

#calendar img:not([class="icon"]), #moma img:not([class="icon"]), #playlist img:not([class="icon"]) {width: 100%;}
#mca p, #be p {text-align: center;}

#be .inline {
    display: inline;
    width: 49%;
}

.ui-tabs-nav {
    position: fixed;
    width: inherit;
}

.ui-tabs-tab {
    list-style: none;
    display: inline-block;
    background: var(--color-3);
    width: 100%;
    padding: 0.5rem 1rem;
    border: 2px solid;
    border-radius: 0 0 1rem 1rem;
}

.ui-tabs-tab a {color: var(--color-bg);}

/* FOOTER */

footer {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    z-index: 99;
    background: var(--color-2);
    width: 30rem; height: 5rem;
    bottom: 1rem; left: 50%; 
    transform: translateX(-50%);
    border: 2px solid;
    border-radius: 1rem;
}

footer .icon {
    cursor: pointer;
    scale: 130%;
}